/* Scrollbars Styling */
/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
    width: 12px;            /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #6e6e6e;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffc107;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(255, 255, 255, 0);  /* creates padding around scroll thumb */
}

/* Firefox */
body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #ffc107 none;   /* scroll thumb and track */
}
